<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Openshelf Book Search</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
</head>

<body>
  <h1>Book Search</h1>
  <form action="/author-search" method="POST">
    <fieldset>
      <legend>Search Author</legend>
      <label for="author">Author</label>
      <input type="text" name="author">
      <input type="submit" value="search-by-author">
    </fieldset>

  </form>
</body>

</html>