<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Openshelf Book Search</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
</head>

<body>
  <h1>Search Results</h1>
  <nav><a href="/book-search">book search</a></nav>
  <ul>

    <% for(let i=0; i < authorSearchBookData.length; i++){ %>
      <li>
        <img src="<%= authorSearchBookData[i].image %>" alt="">
      </li>
      <li>
        <%= authorSearchBookData[i].title %>
      </li>
      <li>
        <%= authorSearchBookData[i].author %>
      </li>
      <li>
        <%= authorSearchBookData[i].description %>
      </li>

      <% } %>
  </ul>

  </form>
</body>

</html>