<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Openshelf Book Search</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <h1>Search Results</h1>
  <!-- <nav><a href="/book-search">book search</a></nav> -->

  <% for(let i=0; i < authorSearchBookData.length; i++){ %>
    <ul>
      <li>
        <img src="<%= authorSearchBookData[i].image %>" alt="">
      </li>
      <li>
        <h2>
          <%= authorSearchBookData[i].title %>
        </h2>
      </li>
      <li>
        <h3>
          <%= authorSearchBookData[i].author %>
        </h3>
      </li>
      <li>
        <p>
          <%= authorSearchBookData[i].description %>
        </p>
      </li>

    </ul>
    <% } %>

      </form>
</body>

</html>