body{
  background-color: #7c786f;
}

ul{
  background-color: rgb(231, 225, 212);
  border: 10px solid #fffdf8; 
  box-shadow: 0px 10px 10px #3f3d39;
  border-radius: 15px;
}

img{
border: 10px solid #fffdf8;
}

h1{
  color: rgb(245, 242, 235);
  background-color: #312f2b;
}

#button, .form-button{
  color: rgb(241, 239, 233);
  background-color: #3f3d39; 
  border-radius: 5px;
}
#button:hover, .form-button:hover{
  background-color: #584c33;
  cursor:pointer;
}
.hide-show{
  display:none;
}
input{
  border: none;
}

